.srodek{
    width:1200px;
    text-align:left;
    padding:25px;
    padding-left:60px;
    padding-right:60px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    margin-left:auto;
    margin-right:auto;
}

.menu{
    background-color:#1e1e1e;
    color: #25FFFF;
    width:1200px;
    text-align:center;
    padding:25px;
    padding-left:60px;
    padding-right:60px;
    margin-left:auto;
    margin-right:auto;
}

a:hover{
    color: #00bdbd
}

a.bod:hover{
    color: #006060
}

p.sep{
    display: inline;
}

li{
    display: inline;
}

a{
    color: #23fefe;
    text-decoration: none;
}

a.bod{
    color: #00c6c6;
    text-decoration: none;
}

html
{
    background: #353535;
    position: relative;
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}


.ramka
{
    background-color: #535353;
    margin: 0px;
    padding: 0px;
}

.stopka{
    text-align: center;
    color: #ffffff;
}