.srodek{
    width:1200px;
    text-align:left;
    padding:25px;
    padding-left:60px;
    padding-right:60px;
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    color: #000000;
    margin-left:auto;
    margin-right:auto;
}

.menu{
    background-color:#1e1e1e;
    color: #25FFFF;
    width:1200px;
    text-align:center;
    padding:25px;
    padding-left:60px;
    padding-right:60px;
    margin-left:auto;
    margin-right:auto;
}

a.sel{
    font-weight: bold
}

li{
    display: inline;
}

a{
    
    background: red;
    background: -webkit-linear-gradient(left, orange , yellow, green, cyan, blue, violet);
    background: -o-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: -moz-linear-gradient(right, orange, yellow, green, cyan, blue, violet);
    background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-decoration: none;
}

html
{
    position: relative;
    min-width: 1024px;
    min-height: 768px;
    height: 100%;
    font-family: 'Comic Sans MS', sans-serif;
    margin: 0px;
    padding: 0px;


background: linear-gradient(179deg, #ff0000, #ffb600, #eeff00, #0dff00, #00fdff, #001cff, #a300ff, #c500ff);
background-size: 1600% 1600%;

-webkit-animation: rainbowAnim 9s ease infinite;
animation: rainbowAnim 9s ease infinite;
}

@-webkit-keyframes rainbowAnim {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}
@keyframes rainbowAnim {
    0%{background-position:51% 0%}
    50%{background-position:50% 100%}
    100%{background-position:51% 0%}
}

.ramka
{
    background-color: #535353;
    margin: 0px;
    padding: 0px;
}

.stopka{
    text-align: center;
    color: #ffffff;
}